footer{
    height: 40vh;
    position: relative;
    margin-top: 150px;
    background-color: $colorOptional2;
    color: $colorPrimary;
    p{
        i{
            @include iCons($paddingIcon,$colorPrimary);
        }
        a{
            color: white;
        }
    }
    .footerContent{
        position: absolute;
        transform: translate(-50%,0%);
        left: 50%;
        top: -40px;
        width: 80%;
        height: 80%;
        background-color: $colorSecondary;
        img{
            background-color: $colorPrimary;
            margin-bottom: 50px;
        }
        div{
            margin-bottom: 15px;

            justify-content: space-between;
            div>a>i{
                @include iCons($paddingIcon,$colorSecondary);
            }
            padding: 0 2%;
        }
    }
}

@media screen and (max-width:768px) {
    footer{
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        .footerContent{
            width: 100%;
            height: auto;
            top: 0px;
            --bs-gutter-x: 0;
            margin-left: 0;
            div{
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}