$colorPrimary: white;
$colorSecondary: #22234F;
$colorOptional1: #EF4D55;
$colorOptional2: #EAF0FF;
$fontRobotoRegular: 'roboto-regular';
$fontRobotoBlack: 'roboto-black';
$color1: black;
$color2: white;
$paddingIcon: 7px;
